
<app-internal-header [config]="headerConfig"></app-internal-header>

<div class="bg-white p-4 mb-4 w-full">
	<div class="flex justify-end">
		<a [routerLink]="['add']">
			<button nz-button nzType="primary" type="button" [disabled]="limitReached">Adicionar novo usuário</button>
		</a>
	</div>
	<div class="overflow-x-auto">
		<nz-table nzShowSizeChanger [nzData]="listOfUsers" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total"
			[nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
			<thead>
				<tr>
					<th class="w-12"></th>
					<th nzColumnKey="active" [nzFilters]="filterStatus" [nzFilterFn]="true">Status</th>
					<th nzColumnKey="email">E-mail</th>
					<th nzColumnKey="cpf" nzCustomFilter>
						CPF
						<nz-filter-trigger [(nzVisible)]="cpfVisible" [nzActive]="cpfSearchValue.length > 0" [nzDropdownMenu]="cpfMenu">
							<i class="ph ph-magnifying-glass text-base align-middle"></i>
						</nz-filter-trigger>
					</th>
					<th nzColumnKey="name" nzCustomFilter>
						Nome
						<nz-filter-trigger [(nzVisible)]="nameVisible" [nzActive]="nameSearchValue.length > 0" [nzDropdownMenu]="nameMenu">
							<i class="ph ph-magnifying-glass text-base align-middle"></i>
						</nz-filter-trigger>
					</th>
					<th nzColumnKey="phone">Telefone</th>
				</tr>
			</thead>
			<tbody>
				@for (user of listOfUsers; track user) {
					<tr>
						<td>
							<button nz-button nzType="link" nz-dropdown [nzDropdownMenu]="menuUsers" [nzTrigger]="'click'">
								<i class="ph ph-dots-three-outline-vertical text-base align-middle"></i>
							</button>
							<nz-dropdown-menu #menuUsers="nzDropdownMenu">
								<ul nz-menu>
									@if (!user.user_usercompanies[0].invite_accepted) {
										<li nz-menu-item (click)="cancelInvite(user)">
											<i class="ph ph-x-circle text-base align-middle"></i> Cancelar convite
										</li>
									} @else {
										<li nz-menu-item (click)="editUser(user)">
											<i class="ph ph-pencil-simple text-base align-middle"></i> Editar
										</li>
										@if (user.id != userService.userCompany?.user || !userService.userCompany?.is_owner) {
											<li nz-menu-item (click)="toggleActiveUser(user)">
												<i [class]="user.is_active ? 'ph ph-user-minus text-base align-middle' : 'ph ph-user-check text-base align-middle'"></i>
												{{ user.is_active ? 'Inativar' : 'Ativar' }}
											</li>
										}
									}
								</ul>
							</nz-dropdown-menu>
						</td>
						@if (!user.user_usercompanies[0].invite_accepted) {
							<td>
                                <nz-tag nzColor="orange">Convite pendente</nz-tag>
                            </td>
							<td>{{ user.email }}</td>
							<td colspan="3"></td>
						} @else {
							<td>
								@if (user.is_active) {
									<nz-tag nzColor="green">Ativo</nz-tag>
								} @else {
									<nz-tag nzColor="red">Inativo</nz-tag>
								}
							</td>
							<td>{{ user.email }}</td>
							<td>{{ user.cpf | mask:'000.000.000-00' }}</td>
							<td>{{ user.first_name }} {{ user.last_name }}</td>
							<td>{{ user.cellphone | mask:'(00) 00000-0000' }}</td>
						}
					</tr>
				}
			</tbody>
		</nz-table>
	</div>
</div>

@if (limitLimit !== null) {
	<div class="px-4 relative bottom-[60px]">
		<div class="flex items-center">
			<div class="flex-1">
				<nz-tag [nzColor]="limitReached ? 'red' : 'green'">{{ limitUsed }}/{{ limitLimit }}</nz-tag>
			</div>
		</div>
	</div>
}

<nz-dropdown-menu #cpfMenu="nzDropdownMenu">
	<div class="ant-table-filter-dropdown">
		<div class="search-box">
			<input type="text" nz-input placeholder="Pesquisar CPF" [(ngModel)]="cpfSearchValue" />
			<button nz-button nzSize="small" nzType="primary" (click)="searchCpf()" class="search-button">Pesquisar</button>
			<button nz-button nzSize="small" (click)="resetCpf()">Limpar</button>
		</div>
	</div>
</nz-dropdown-menu>

<nz-dropdown-menu #nameMenu="nzDropdownMenu">
	<div class="ant-table-filter-dropdown">
		<div class="search-box">
			<input type="text" nz-input placeholder="Pesquisar nome" [(ngModel)]="nameSearchValue" />
			<button nz-button nzSize="small" nzType="primary" (click)="searchName()" class="search-button">Pesquisar</button>
			<button nz-button nzSize="small" (click)="resetName()">Limpar</button>
		</div>
	</div>
</nz-dropdown-menu>
