<app-login-template>
    @if (step === 1) {
        <form nz-form [formGroup]="recoverForm" (ngSubmit)="onSubmit()" class="space-y-6">
            <!-- Campo Usuário (CPF) -->
            <nz-form-item>
                <nz-form-label nzRequired nzFor="cpf" class="text-gray-700 font-medium">
                    CPF para recuperação
                </nz-form-label>
                <nz-form-control nzErrorTip="Por favor, informe seu CPF">
                    <div class="relative">
                        <i class="ph ph-id-card absolute left-3 top-1/2 -translate-y-1/2 text-base text-gray-400"></i>
                        <input nz-input formControlName="cpf" id="cpf" placeholder="000.000.000-00" mask="000.000.000-00"
                            class="w-full h-12 pl-10 px-4 border border-gray-300 rounded-md focus:ring-2 focus:ring-purple-500 focus:border-transparent transition-all duration-200" />
                    </div>
                </nz-form-control>
            </nz-form-item>

            <!-- Link Esqueceu a Senha -->
            <div class="text-center">
                <a routerLink="/login"
                    class="text-sm text-gray-600 hover:text-gray-800 transition-colors duration-200 hover:underline">
                    Voltar ao login
                </a>
            </div>

            <!-- Botão Entrar -->
            <div class="flex justify-center">
                <button nz-button nzType="primary" nzSize="large" [nzLoading]="recovering" type="submit"
                    class="w-3/4 h-12 bg-purple-600 hover:bg-purple-700 text-white font-medium rounded-md transition-all duration-200 transform hover:scale-105 focus:ring-4 focus:ring-purple-200">
                    @if (!recovering) {
                        Recuperar senha
                    }
                    @else {
                        <!-- Deixar vazio aqui -->
                    }
                </button>
            </div>

            @if (invalidCPf) {
                <div class="text-red-600 text-center">
                    Usuário não cadastrado em nosso sistema.
                </div>
            }

            @if (errorCreateChangePasswordRequest) {
                <div class="text-red-600 text-center">
                    Houve um problema ao tentar recuperar a senha. Por favor, tente novamente mais tarde.
                </div>
            }
        </form>
    }
    @else if (step === 2) {
        <div class="text-gray-font-normal">
            Solicitação de recuperação registrada para o CPF <strong>{{ cpfRecover }}</strong>.
            Verifique o e-mail cadastrado para este CPF e siga as instruções nele para recuperar a sua senha.
        </div>

        <div class="text-center mt-4">
            <a routerLink="/login"
                class="text-sm text-gray-600 hover:text-gray-800 transition-colors duration-200 hover:underline">
                Voltar ao login
            </a>
        </div>
    }
</app-login-template>
