<app-internal-header [config]="headerConfig"></app-internal-header>
@if (loading) {
	<div class="flex justify-center items-center h-64">
		<nz-spin nzSize="large"></nz-spin>
	</div>
} @else {
	<div class="p-4 mb-4 w-full">
		<div class="bg-white p-4">
			<form [formGroup]="form" nz-form (ngSubmit)="onSubmit()">
				<div class="flex flex-col w-full gap-4 mb-4">
					<div class="w-1/2">
						<nz-form-item>
							<nz-form-label nzRequired>E-mail</nz-form-label>
							<nz-form-control nzErrorTip="Campo obrigatório">
								<input nz-input formControlName="email" placeholder="E-mail" type="email" [readonly]="userId" class="w-full" />
							</nz-form-control>
						</nz-form-item>
					</div>
					<div class="w-1/2">
						<nz-form-item>
							<nz-form-label nzRequired>Perfil</nz-form-label>
							<nz-form-control nzErrorTip="Campo obrigatório">
								<nz-select formControlName="profile_id" placeholder="Selecione o perfil" class="w-full">
									@for (profile of profiles; track profile.id) {
										<nz-option [nzValue]="profile.id" [nzLabel]="profile.name"></nz-option>
									}
								</nz-select>
							</nz-form-control>
						</nz-form-item>
					</div>
				</div>
				<div class="flex justify-end">
					<a [routerLink]="['/home/usuarios']" class="mr-2">
						<button nz-button nzType="default" type="button">
							Voltar
						</button>
					</a>
					<button nz-button nzType="primary" type="submit" [disabled]="form.invalid">
						@if (saving) {
							<i class="ph ph-spinner animate-spin text-base align-middle"></i>
						} @else {
							Salvar usuário
						}
					</button>
				</div>
			</form>
		</div>
	</div>
}
