<div class="w-full max-w-2xl mx-auto p-4 space-y-6">
    <header class="flex items-center justify-between">
        <!-- div de voltar ao início-->
        <div class="flex items-center gap-2 text-black font-medium cursor-pointer">
            <a routerLink="/home" class="flex items-center gap-2 !text-black font-medium cursor-pointer">
                <i class="ph ph-arrow-circle-left text-lg"></i>
                Voltar ao início
            </a>
        </div>

        <app-consumer-button [consumer]="(consumer$ | async)"></app-consumer-button>
    </header>
</div>
