<app-internal-header [config]="headerConfig"></app-internal-header>

@if (loading) {
    <div class="flex justify-center items-center h-64">
        <nz-spin nzSize="large"></nz-spin>
    </div>
} @else {
    <div class="p-4 mb-4 w-full">
        <div class="bg-white p-4">
            <form [formGroup]="form" nz-form (ngSubmit)="onSubmit()">
                @if (form.controls['editable'].value === false) {
                    <nz-alert nzType="info" nzMessage="Este perfil não pode ser editado." class="mb-4"></nz-alert>
                }
                <div class="w-1/2">
                    <nz-form-item>
                        <nz-form-label nzSpan="name" nzRequired>Nome do perfil</nz-form-label>
                        <nz-form-control nzSpan="name" nzErrorTip="Por favor insira o nome do perfil!">
                            <input nz-input formControlName="name" placeholder="Nome do perfil" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="w-full">
                    <nz-form-item>
                        <nz-form-label nzSpan="can_access_companies_menu" nzRequired>Pode acessar o menu de empresas</nz-form-label>
                        <nz-switch formControlName="can_access_companies_menu" nzSpan="can_access_companies_menu"></nz-switch>
                    </nz-form-item>
                </div>

                <div class="w-full">
                    <nz-form-item>
                        <nz-form-label nzSpan="can_access_users_menu" nzRequired>Pode acessar o menu de usuários</nz-form-label>
                        <nz-switch formControlName="can_access_users_menu" nzSpan="can_access_users_menu"></nz-switch>
                    </nz-form-item>
                </div>

                <div class="w-full">
                    <nz-form-item>
                        <nz-form-label nzSpan="can_access_plans_menu" nzRequired>Pode acessar o menu de planos</nz-form-label>
                        <nz-switch formControlName="can_access_plans_menu" nzSpan="can_access_plans_menu"></nz-switch>
                    </nz-form-item>
                </div>

                <div class="w-full">
                    <nz-form-item>
                        <nz-form-label nzSpan="can_access_campaign_menu" nzRequired>Pode acessar o menu regras de prêmios</nz-form-label>
                        <nz-switch formControlName="can_access_campaign_menu" nzSpan="can_access_campaign_menu"></nz-switch>
                    </nz-form-item>
                </div>

                <div class="w-full">
                    <nz-form-item>
                        <nz-form-label nzSpan="can_access_customers_menu" nzRequired>Pode acessar o menu de clientes</nz-form-label>
                        <nz-switch formControlName="can_access_customers_menu" nzSpan="can_access_customers_menu"></nz-switch>
                    </nz-form-item>
                </div>

                <div class="w-full">
                    <nz-form-item>
                        <nz-form-label nzSpan="can_access_dashboard" nzRequired>Pode acessar o dashboard</nz-form-label>
                        <nz-switch formControlName="can_access_dashboard" nzSpan="can_access_dashboard"></nz-switch>
                    </nz-form-item>
                </div>

                <div class="w-full">
                    <nz-form-item>
                        <nz-form-label nzSpan="can_register_stamps" nzRequired>Pode registrar selos</nz-form-label>
                        <nz-switch formControlName="can_register_stamps" nzSpan="can_register_stamps"></nz-switch>
                    </nz-form-item>
                </div>

                <div class="w-full">
                    <nz-form-item>
                        <nz-form-label nzSpan="can_access_profile_menu" nzRequired>Pode acessar o menu de perfil</nz-form-label>
                        <nz-switch formControlName="can_access_profile_menu" nzSpan="can_access_profile_menu"></nz-switch>
                    </nz-form-item>
                </div>

                <div class="flex justify-end">
                    <a [routerLink]="['/home/perfis']" class="mr-2">
                        <button nz-button nzType="default" type="button">
                            Voltar
                        </button>
                    </a>
                    <button nz-button nzType="primary" type="submit" [disabled]="form.invalid">
                        @if (saving) {
                            <i class="ph ph-spinner animate-spin text-base align-middle"></i>
                        }
                        @else {
                            Salvar perfil
                        }
                    </button>
                </div>
            </form>
        </div>
    </div>
}
