<div class="p-4 mb-4 w-full">
    <div class="bg-white p-4">
        <div class="flex items-center justify-between mb-4">
            <h2 class="m-0">Dados da empresa</h2>
            <a [routerLink]="['/home/add-company']">
                <button nz-button nzType="primary" type="button">Cadastrar nova empresa</button>
            </a>
        </div>
        <form [formGroup]="form" nz-form (ngSubmit)="onSubmit()">
            <nz-divider nzSize="small"></nz-divider>
            <div class="w-1/2">
                <nz-form-item>
                    <nz-form-label nzSpan="cnpj" nzRequired>CNPJ</nz-form-label>
                    <nz-form-control nzSpan="cnpj" nzErrorTip="Por favor insira o CNPJ da empresa!">
                        <input nz-input formControlName="cnpj" placeholder="00.000.000/0000-00" mask="00.000.000/0000-00" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="w-1/2">
                <nz-form-item>
                    <nz-form-label nzSpan="name" nzRequired>Nome fantasia</nz-form-label>
                    <nz-form-control nzSpan="name" nzErrorTip="Por favor insira o nome fantasia!">
                        <input nz-input formControlName="name" placeholder="Nome fantasia" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="w-1/2">
                <nz-form-item>
                    <nz-form-label nzSpan="legal_name" nzRequired>Razão social</nz-form-label>
                    <nz-form-control nzSpan="legal_name" nzErrorTip="Por favor insira a razão social da empresa!">
                        <input nz-input formControlName="legal_name" placeholder="Razão social da empresa" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <h2>Endereço</h2>
            <nz-divider nzSize="small"></nz-divider>

            <div class="flex w-full gap-4">
                <div class="w-1/3">
                    <nz-form-item>
                        <nz-form-label nzSpan="zip_code" nzRequired>
                            CEP
                            @if (loadingZipCode) {
                                <div class="ml-4 inline-block">
                                    <nz-spin nzSize="small"></nz-spin>
                                </div>
                            }
                        </nz-form-label>
                        <nz-form-control nzSpan="zip_code" nzErrorTip="Por favor insira o CEP!">
                            <input nz-input formControlName="zip_code" placeholder="CEP" mask="00000-000" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="w-1/3">
                    <nz-form-item>
                        <nz-form-label nzSpan="street" nzRequired>Logradouro</nz-form-label>
                        <nz-form-control nzSpan="street" nzErrorTip="Por favor insira o logradouro!">
                            <input nz-input formControlName="street" placeholder="Logradouro" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="w-1/3">
                    <nz-form-item>
                        <nz-form-label nzSpan="number" nzRequired>Número</nz-form-label>
                        <nz-form-control nzSpan="number" nzErrorTip="Por favor insira o número!">
                            <input nz-input formControlName="number" placeholder="Número" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div class="flex w-full gap-4">
                <div class="w-1/4">
                    <nz-form-item>
                        <nz-form-label nzSpan="complement">Complemento</nz-form-label>
                        <nz-form-control nzSpan="complement">
                            <input nz-input formControlName="complement" placeholder="Complemento" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="w-1/4">
                    <nz-form-item>
                        <nz-form-label nzSpan="neighborhood" nzRequired>Bairro</nz-form-label>
                        <nz-form-control nzSpan="neighborhood" nzErrorTip="Por favor insira o bairro!">
                            <input nz-input formControlName="neighborhood" placeholder="Bairro" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="w-1/4">
                    <nz-form-item>
                        <nz-form-label nzSpan="state" nzRequired>Estado</nz-form-label>
                        <nz-form-control nzSpan="state" nzErrorTip="Por favor insira o estado!">
                            <input nz-input formControlName="state" placeholder="Estado" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="w-1/4">
                    <nz-form-item>
                        <nz-form-label nzSpan="city" nzRequired>Cidade</nz-form-label>
                        <nz-form-control nzSpan="city" nzErrorTip="Por favor insira a cidade!">
                            <input nz-input formControlName="city" placeholder="Cidade" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div class="flex justify-end">
                <a [routerLink]="['/home/perfis']" class="mr-2">
                    <button nz-button nzType="default" type="button">
                        Voltar
                    </button>
                </a>
                <button nz-button nzType="primary" type="submit" [disabled]="form.invalid">
                    @if (saving) {
                        <i class="ph ph-spinner animate-spin text-base align-middle"></i>
                    }
                    @else {
                        Salvar
                    }
                </button>
            </div>
        </form>
    </div>
</div>
