<!-- Overlay para fechar menu em mobile -->
@if (isMobileMenuOpen) {
    <div class="fixed inset-0 bg-black opacity-40 z-40 md:hidden" (click)="toggleMobileMenu()"></div>
}

<aside [class]="'fixed z-50 top-0 left-0 h-full bg-gradient-to-br from-white via-zinc-50 to-purple-50 shadow-lg slide-menu ' +
    (isMobileMenuOpen ? 'slide-in' : 'slide-out') +
    ' md:relative md:translate-x-0 md:block '">
    <ul nz-menu nzMode="inline" class="pt-6 w-64">
        <li nz-menu-item class="group" [class.ant-menu-item-selected]="selectedUrl.includes('/home')">
            <a routerLink="/home" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-purple-50 transition group">
                <i class="ph ph-house text-2xl align-middle group-hover:text-purple-600 transition"></i>
                <span class="font-medium group-hover:text-blue-700 transition">Voltar ao início</span>
            </a>
        </li>
        <li nz-menu-item class="group" [class.ant-menu-item-selected]="selectedUrl.includes('/user/dados')">
            <a routerLink="/user/dados" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-purple-50 transition group">
                <i class="ph ph-user text-2xl align-middle group-hover:text-purple-600 transition"></i>
                <span class="font-medium group-hover:text-blue-700 transition">Meus dados</span>
            </a>
        </li>
        <li nz-menu-item class="group" [class.ant-menu-item-selected]="selectedUrl.includes('/user/trocar-senha')">
            <a routerLink="/user/trocar-senha" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-purple-50 transition group">
                <i class="ph ph-key text-2xl align-middle group-hover:text-purple-600 transition"></i>
                <span class="font-medium group-hover:text-blue-700 transition">Trocar senha</span>
            </a>
        </li>
    </ul>
</aside>
