<app-internal-header [config]="headerConfig"></app-internal-header>

<div class="bg-white p-4 mb-4 w-full">
    <div class="flex justify-end">
        <a [routerLink]="['add']">
            <button nz-button nzType="primary" type="button" [disabled]="limitReached">Adicionar novo perfil</button>
        </a>
    </div>
    <div class="overflow-x-auto">
    <nz-table nzShowSizeChanger [nzData]="listOfProfiles" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total"
        [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th class="w-12"></th>
                <th nzColumnKey="name" [nzSortFn]="true" nzCustomFilter>
                    Nome
                    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                        <i class="ph ph-magnifying-glass text-base align-middle"></i>
                    </nz-filter-trigger>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (data of listOfProfiles; track data) {
                <tr>
                    <td>
                        <button nz-button nzType="link" nz-dropdown [nzDropdownMenu]="menuProfiles" [nzTrigger]="'click'">
                            <i class="ph ph-dots-three-outline-vertical text-base align-middle"></i>
                        </button>
                        <nz-dropdown-menu #menuProfiles="nzDropdownMenu">
                            <ul nz-menu>
                                <li nz-menu-item (click)="editProfile(data)">
                                    <i class="ph ph-pencil-simple text-base align-middle"></i> Editar
                                </li>
                            </ul>
                        </nz-dropdown-menu>
                    </td>
                    <td>{{ data.name }}</td>
                </tr>
            }
        </tbody>
    </nz-table>
    </div>
</div>

@if (limitLimit !== null) {
    <div class="px-4 relative bottom-[60px]">
        <div class="flex items-center">
            <div class="flex-1">
                <nz-tag [nzColor]="limitReached ? 'red' : 'green'">{{ limitUsed }}/{{ limitLimit }}</nz-tag>
            </div>
        </div>
    </div>
}

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Pesquisar nome" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()"
                class="search-button">Pesquisar</button>
            <button nz-button nzSize="small" (click)="reset()">Limpar</button>
        </div>
    </div>
</nz-dropdown-menu>

