<div class="min-h-screen bg-gray-100">
    @if (consumer$ | async; as user) {
        @if (company) {
            <div class="fixed top-0 left-0 w-full z-10">
                <app-header [consumer]="user"></app-header>
            </div>

            <div class="flex pt-12">
                <div class="aside-menu-wrapper z-2 sticky top-12">
                    <app-aside-menu></app-aside-menu>
                </div>
                <div class="w-full">
                    <router-outlet></router-outlet>
                </div>
            </div>
        }
    }
</div>
