@if (loading) {
    <div class="w-full h-screen flex items-center justify-center">
        <i class="ph ph-spinner ph-spin text-4xl text-color-primary"></i>
    </div>
}
@else {
    <div class="w-full max-w-2xl mx-auto p-4 space-y-6">
        <!-- Top bar -->
        <header class="flex items-center justify-between">
            <img src="/assets/images/logo.svg" alt="Selo Clube" class="w-10 h-10">

            <a [routerLink]="['/selecionar-cidade']" class="flex items-center gap-1 text-color-primary text-">
                <span class="font-medium">@if ((consumer$ | async)?.selected_city) {
                    {{ (consumer$ | async)?.selected_city?.name }}
                } @else {
                    Selecionar cidade
                }</span>
            </a>

            <app-consumer-button [consumer]="(consumer$ | async)"></app-consumer-button>
        </header>

        <!-- Botão adicionar selo -->
        <button (click)="openQrScanner()"
            class="w-full bg-brand-variant text-color-primary font-medium rounded-xl py-4 border border-border-01 flex items-center justify-center gap-2 cursor-pointer">
            <i class="ph ph-qr-code text-2xl"></i>
            Adicionar selo
        </button>

        <!-- Campo de busca -->
        <div class="mt-4">
            <!-- <p class="text-text-secondary text-sm mb-2">Consiga selos aqui</p> -->

            <div class="bg-white border border-border-01 w-full rounded-xl px-4 py-3 flex items-center gap-2">
                <input type="text" placeholder="Buscar estabelecimentos" [(ngModel)]="searchTerm" (input)="applyFilter()"
                    class="bg-transparent w-full outline-none text-color-primary">
                <i class="ph ph-magnifying-glass text-xl text-color-secondary"></i>
            </div>
        </div>

        <!-- Botão: já tenho selos aqui -->
        <div class="w-full bg-brand text-white font-medium rounded-xl py-3 text-center block text-white">Já tenho selos aqui</div>

        <!-- Cards: Locais com selo -->
        <div>
            @if (stampsCompanies.length === 0) {
                <div class="text-color-secondary">Nenhum local com selo encontrado.</div>
            }

            <ul class="space-y-4">
                @for (c of stampsCompanies; track c.id) {
                    <li (click)="openCompany(c.id)" role="button"
                        class="border border-border-01 bg-bg-light rounded-xl p-4 space-y-3 cursor-pointer">
                        <div class="flex items-center justify-between">
                            <h4 class="font-semibold text-2xl text-color-primary tracking-tight">{{ c.name }}</h4>
                            <button
                                class="border border-border-01 px-4 py-1 rounded-full bg-brand-variant text-sm font-medium">
                                {{ c.total_stamps }} Selos
                            </button>
                        </div>

                        <div class="relative rounded-lg overflow-hidden h-40 bg-bg-light-beige">
                            @if (c.banner) {
                                <img src="{{ c.banner }}" alt="{{ c.name }}" class="w-full h-full object-cover" />
                            }
                            @else {
                                <div class="w-full h-full bg-gray-300 flex items-center justify-center banner-placeholder">
                                    <i class="ph ph-building text-4xl text-white"></i>
                                </div>
                            }
                        </div>

                        <div class="company-banner-logo -mt-8 flex items-center justify-center z-10 relative">
                            @if (c.logo) {
                                <img src="{{ c.logo }}" alt="{{ c.name }}" class="w-16 h-16 rounded-lg border-2 border-white object-cover bg-white p-1" />
                            }
                            @else {
                                <div class="w-16 h-16 rounded-lg border-2 border-white bg-white flex items-center justify-center">
                                    <i class="ph ph-store text-xl text-gray-500"></i>
                                </div>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>

        <!-- Divider button -->
        <!-- <div class="w-full bg-brand text-white font-medium rounded-xl py-3 text-center text-white">Outros estabelecimentos</div> -->

        <!-- Cards: Outros estabelecimentos -->
        <!-- <div>
            @if (otherCompanies.length === 0) {
                <div class="text-color-secondary">Nenhum outro local encontrado.</div>
            }

            <ul class="space-y-4 mt-4">
                @for (c of otherCompanies; track c.id) {
                    <li (click)="openCompany(c.id)" role="button"
                        class="border border-border-01 bg-bg-light rounded-xl p-4 space-y-3 cursor-pointer">
                        <h4 class="font-semibold text-2xl text-color-primary tracking-tight">{{ c.name }}</h4>

                        <div class="relative rounded-lg overflow-hidden h-40 bg-bg-light-beige">
                            @if (c.banner) {
                                <img src="{{ c.banner }}" alt="{{ c.name }}" class="w-full h-full object-cover" />
                            }
                            @else {
                                <div class="w-full h-full bg-gray-300 flex items-center justify-center banner-placeholder">
                                    <i class="ph ph-building text-4xl text-white"></i>
                                </div>
                            }
                        </div>

                        <div class="company-banner-logo -mt-8 flex items-center justify-center z-10 relative">
                            @if (c.logo) {
                                <img src="{{ c.logo }}" alt="{{ c.name }}" class="w-16 h-16 rounded-lg border-2 border-white object-cover bg-white p-1" />
                            }
                            @else {
                                <div class="w-16 h-16 rounded-lg border-2 border-white bg-white flex items-center justify-center">
                                    <i class="ph ph-store text-xl text-gray-500"></i>
                                </div>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div> -->
    </div>
}
