<app-internal-header [config]="headerConfig"></app-internal-header>

@if (loading) {
    <div class="flex justify-center items-center h-64">
        <nz-spin nzSize="large"></nz-spin>
    </div>
} @else {
    <div class="p-4 mb-4 w-full">
        <div class="bg-white p-4">
            <form [formGroup]="form" nz-form (ngSubmit)="onSubmit()">
                <div class="flex w-full gap-4">
                    <div class="w-1/2">
                        <nz-form-item>
                            <nz-form-label nzSpan="active" nzRequired>Ativa</nz-form-label>
                            <nz-switch formControlName="active" nzSpan="active"></nz-switch>
                        </nz-form-item>
                    </div>
                    <div class="w-1/2">
                        <nz-form-item>
                            <nz-form-label nzSpan="is_main_campaign" nzRequired>Campanha principal</nz-form-label>
                            <nz-switch formControlName="is_main_campaign" nzSpan="is_main_campaign"></nz-switch>
                        </nz-form-item>
                    </div>
                </div>

                <div class="w-1/2">
                    <nz-form-item>
                        <nz-form-label nzSpan="name" nzRequired>Nome da campanha</nz-form-label>
                        <nz-form-control nzSpan="name" nzErrorTip="Por favor insira o nome da campanha!">
                            <input nz-input formControlName="name" placeholder="Nome da Campanha" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="w-1/2">
                    <nz-form-item>
                        <nz-form-label nzSpan="description">Descrição</nz-form-label>
                        <nz-form-control nzSpan="description">
                            <textarea nz-input formControlName="description" placeholder="Descrição da regra"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="flex w-full gap-4">
                    <div class="w-1/2">
                        <nz-form-item>
                            <nz-form-label nzSpan="price_by_stamp" nzRequired>Valor por selo</nz-form-label>
                            <nz-form-control nzSpan="price_by_stamp" nzErrorTip="Por favor insira o valor por selo!">
                                <input nz-input formControlName="price_by_stamp" placeholder="Valor por selo" currencyMask
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" />
                            </nz-form-control>
                        </nz-form-item>
                        <span class="text-gray-400 mb-4 block">ex.: "20" = a cada R$ 20 o cliente ganha 1 selo</span>
                    </div>
                    <div class="w-1/2">
                        <nz-form-item>
                            <nz-form-label nzSpan="quantity_stamps" nzRequired>Quantidade de selos para
                                resgate</nz-form-label>
                            <nz-form-control nzSpan="quantity_stamps"
                                nzErrorTip="Por favor insira a quantidade de selos para resgate!">
                                <input nz-input formControlName="quantity_stamps"
                                    placeholder="Quantidade de selos para resgate" currencyMask
                                    [options]="{ prefix: '', align: 'left', min: 1, max: 100, precision: 0 }" />
                            </nz-form-control>
                        </nz-form-item>
                        <span class="text-gray-400 mb-4 block">
                            ex.: "20" = com 20 selos é liberado o resgate do prêmio
                        </span>
                    </div>
                </div>

                <div class="w-1/2">
                    <nz-form-item>
                        <nz-form-label nzSpan="prize">Prêmio</nz-form-label>
                        <nz-form-control nzSpan="prize">
                            <textarea nz-input formControlName="prize" placeholder="Prêmio a ser resgatado"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <span class="text-gray-400 mb-4 block">ex.: "R$ 50 em consumo", ou "Uma porção de batata", etc.</span>
                </div>

                <div class="flex justify-end">
                    <a [routerLink]="['/home/campanhas']" class="mr-2">
                        <button nz-button nzType="default" type="button">
                            Voltar
                        </button>
                    </a>
                    <button nz-button nzType="primary" type="submit" [disabled]="form.invalid">
                        @if (saving) {
                            <i class="ph ph-spinner animate-spin text-base align-middle"></i>
                        }
                        @else {
                            Salvar campanha
                        }
                    </button>
                </div>
            </form>
        </div>
    </div>
}
